:root {
  --basic-bg-color: #a5a4a4;
  --field-bg-color: #ffffff;
  --btn-bg-color: #f1f1f1;
  --basic-text-color: #000000;
  --basic-border-color: #a5a4a4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 700;
  color: var(--basic-text-color);
  text-transform: uppercase;
  background-color: var(--basic-bg-color);
  /* background-image: url("img/bg.jpg"); */
  background-position: top center;
  background-repeat: no-repeat;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 290px 600px 290px;
  grid-template-rows:
    100px
    1fr
    50px;
  grid-gap: 10px;
  min-height: 100vh;
}

.main-header {
  grid-column: 1 / -1;
  border: 1px solid var(--basic-border-color);
  padding-left: 20px;
  background-color: var(--field-bg-color);
}

.site-navigation {
  grid-column: 1 / 2;
  border: 1px solid var(--basic-border-color);
  background-color: var(--field-bg-color);
}

.main-content {
  grid-column: 2 / 3;
  border: 1px solid var(--basic-border-color);
  background-color: var(--field-bg-color);
}

.slider__img {
  max-width: 100%;
}

.links-navigation {
  grid-column: 3 / -1;
  border: 1px solid var(--basic-border-color);
  background-color: var(--field-bg-color);
}

.main-footer {
  grid-column: 1 / -1;
  border: 1px solid var(--basic-border-color);
  background-color: var(--field-bg-color);
}

.site-navigation__list {
  list-style: none;
  padding: 0;
}

.site-navigation__item {
  margin: 10px;
}

.site-navigation__item:hover {
  margin: 5px;
}

.site-navigation__btn {
  text-decoration: none;
  color: var(--basic-text-color);
  display: block;
  background-color: var(--btn-bg-color);
  padding: 5px;
}

.site-navigation__btn_current {
  border-right: 5px solid orange;
}
